/***
	Main CSS file
*/

@font-face {
    font-family: "pier";
    src: url("PierSans-FreeForPersonalUse/PierSans-Regular.otf");
}

body {
    margin: 0;
    font-family: "pier";
}

#error_handler_div {
    border: solid red 1px;
    background-color: pink;
    padding: 20px;
    color: red;
    display: none;
}

#_title {
    padding: 30px;
    padding-left: 60px;
    font-size: 6vw;
}

#login_panel {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(19, 47, 87);
    color: white;
    padding: 20px;
    width: 20%;
    min-width: 200px;
    height: calc(100% - 40px);
    overflow: auto;
}

#login_panel a {
    text-decoration: none;
    color: white;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
}

#login_btn {
    padding: 15px;
    background-color: white;
    border: solid white 1px;
}

#main_panel {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(19, 47, 87);
    color: white;
    width: 20%;
    min-width: 200px;
    height: calc(100%);
    overflow: auto;
}

#main_panel h1 {
    padding: 20px;
}

#main_panel ul {
    padding: 0;
}

#main_panel ul li {
    list-style-type: none;
    padding: 15px;
    transition: all 1s;
}

#main_panel ul li:hover {
    padding-left: 35px;
}

#main_panel a:link,
#main_panel a:visited {
    color: white;
    text-decoration: none;
}

#main_panel input[type="submit"] {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    padding: 0;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

#new_message {
    padding: 10px;
    margin-left: 5%;
    background-color: white;
    color: black;
    border: solid white 1px;
    border-radius: 50px;
    vertical-align: middle;
    cursor: pointer;
}

#all_messages table tr td {
    padding-left: 15px;
}

.bigger {
    font-size: larger;
}

.blue_btn {
    padding: 20px;
    color: white;
    background-color: rgb(19, 47, 87);
    border: none;
}

textarea[name="message_content"] {
    font-family: "pier";
    padding: 20px;
    font-size: 16px;
    width: 500px;
    height: 400px;
}

.receipient_display {
    background-color: rgb(19, 47, 150);
    color: white;
    padding: 20px;
    border-radius: 30px;
    min-width: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
}

#new_message img {
    width: 30px;
    height: 30px;
}

.message_block {
    padding: 30px;
    display: inline-block;
    background-color: lightblue;
    border-radius: 10px;
    margin: 20px;
    width: 300px;
    height: 300px;
}

@media only screen and (max-width: 1150px) {
    #search_input {
        width: 100%;
    }

    #search_button,
    #add_button,
    #set_button {
        width: 100%;
    }

    #all_articles,
    #sold_articles {
        width: 100%;
    }

    #settings,
    #add_item,
    #search_result {
        width: calc(100% - 45px);
    }

    th,
    td {
        padding: 10px;
    }
}

@media only screen and (max-width: 750px) {
    .title {
        font-size: 0.5in;
    }
}
